  @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

  body {
    margin: 0;
    padding: 0;
    background-color: #FFEEF4;


  }

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

.navbar {
  z-index: 1;
  height: 5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


  .logo img {
    height: 60px;
    opacity: 70%;
  }

  .menu-icon {
    display: none;
  }


  .nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  .nav-elements ul li:not(:last-child) {
    margin-right: 60px;
    
  }

.nav-elements ul a {
  font-size: 25px;
  font-weight: 500;
  color: #451952;
  text-decoration: none;
  font-family: "Courgette", cursive;

    position: relative;

    transition: 1s;
  }
  .nav-elements ul a::before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #451952;
    height: 1px;
    transition: width 0.2s ease-in-out;
  }

  .nav-elements ul a:hover::before {
    width: 100%;
    letter-spacing: 5px;
  }

  .nav-elements ul a:hover {
    letter-spacing: 1px;
  }

  .nav-elements ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
  }

  .nav-elements ul a.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #574c4c;
  }

  @media (max-width: 768px) {
    .nav-elements ul li:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media (max-width: 600px) {
    .menu-icon {
      
      display: block;
      cursor: pointer;
    }

    .nav-elements {
      z-index: 2;
        
        background: rgb(255, 255, 255);
        background: linear-gradient(
          300deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 167, 251, 1) 24%,
          rgb(239, 116, 233) 55%,
          rgba(255, 178, 251, 1) 79%,
          rgba(255, 197, 252, 1) 100%
        );
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
      
      margin-top: 1rem;
      position: absolute;
      right: 0;
      top: 60px;
     
      width: 0px;
      height: calc(100vh - 60px);
      transition: all 0.3s ease-in;
      overflow: hidden;
    }

    .nav-elements.active {
      width: 270px;
    }

    .nav-elements ul {
      display: flex;
      flex-direction: column;
    }

    .nav-elements ul li {
      margin-right: unset;
      margin-top: 22px;
    }
  }
  .footer{
    background-color: #ff76ff4a;
    color: #451952;
  }
  .lists{
    margin-top: 4vh;
    display: flex;
    justify-content: space-around;

  }
  .lists h3{
    text-decoration: underline;
  cursor: auto;
  }
  .lists div{
    cursor: pointer;
  }
  .sideLogo img{
    margin-top: 2vh;
    width: 10vw;
  }
  .footerLink{
    color: black;
      text-decoration: none;
      
  }


.helpList{
  margin-bottom: 10px;
}

  .socials{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  .socials div{
    margin: 2vw;
    height: 2vh;
  }
  .instegramLOGO{
    height: 3vh;
  }
  .facebookLOGO{
    height: 3vh;
  }
  .linkdinLOGO{
    height: 3vh;
  }

  @media screen and (max-width: 768px) {
    .sideLogo{
  display: none;
  position: fixed;}}


.navbar, .footer {

  background: rgb(255, 255, 255);
  background: linear-gradient(
    300deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 167, 251, 1) 24%,
    rgb(239, 116, 233) 55%,
    rgba(255, 178, 251, 1) 79%,
    rgba(255, 197, 252, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}  