
body {
  background-color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
}

.welcome-text {
  font-family: 'Courgette', cursive;
  font-size: 8vh;
  color: #fff;
}

.subheader {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;

}


.buttons-container {
  position: absolute;
  top: 15vh;
  right: 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1vw;
 z-index: 1;
}



.logbtn {
  opacity: 70%;
  background-color:#fff9ed;
  width: 6vw;
  height: 4vh;
  border: 0.1vh solid white;
  border-radius: 2vw;
}

.registerbtn {
  opacity: 70%;
  background-color: #D988B9;
  width: 6vw;
  height: 4vh;
  border: 0.1vh solid rgb(254, 254, 206);
  border-radius: 2vw;
}

.logbtn:hover {
  cursor: pointer;
  opacity: 100%;
}

.registerbtn:hover {
  cursor: pointer;
  opacity: 100%;}

.weddingvideo {
  background-repeat: no-repeat;
  filter: blur(3px);
  height: 80%;
  object-fit: cover;
  opacity: .80;
  width: 99%;
  margin: 0;
  padding: 0;
  z-index: 0;
  border: 1vh solid white;
}

.header h2 {
font-family: 'Courgette';
}
.header {

  font-size: 4vh;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
  color: rgb(255, 255, 255); 
  text-shadow: 0.4vw 0.2vw rgba(0, 0, 0, 0.481);
}

.container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem 0;
  text-align: center;
}

.container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem 0;
  text-align: center;
}

.webimg1 img,
.webimg2 img {
  width:40vh;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

  
.container1 h4,
.container2 h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  color: #333; 
  margin-bottom: 1rem;
  text-align: center;
}

.container1 p,
.container2 p {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5;
  text-align: center;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3vw; 
}

  
.webtext1,.webtext2 {
  text-align: center;
  
}

body {
  margin: 0;
  padding: 0;
}

.marquee-container {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee {
  font-size: 6vh;
  color: rgb(139, 91, 187);
  padding: 2vh 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 30s  infinite ;
  transition: transform 0s;}

@keyframes marquee {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}


@media (max-width: 767px) {
  .header{
    top: 25%;
  }
  .welcome-text {
    font-size: 5vh;}
  .container1,
  .container2 {
    display: flex;
    flex-direction: column;
  }
  .header h5{display: none;}
.logbtn {
  width: 15vw;
  border: 0.1vh solid rgb(0, 0, 0);
}

.registerbtn {
  border: 0.1vh solid rgb(0, 0, 0);

  width: 17vw;
}
  .webimg1,
  .webimg2 {
    order: 2; 
}
.buttons-container {
  top: auto;
  left: 35vw;
}}

.bigDiv{
  display: grid;
  width: 70%;
  grid-template-columns:1fr 2fr;
  padding-left: 15vw;
  padding-right: 15vw;
  justify-content: center;

  gap: 8vh 14vw;
  align-content: center;
}

.Card{
  position: relative;
  padding-top: 2vw;
  border: 0.1vw solid rgba(128, 128, 128, 0.403);
  display: flex;
  width: 30vw;
  flex-direction: column;
  align-items: center;
  box-shadow: 3vw 2vw 15px rgba(0, 0, 0, 0.481);
  border-radius: 0.5vw;
   justify-content: space-between;
  margin-bottom: 2rem;
}

.alltext {
  flex: 1;
    display: flex;
  flex-direction: column;
  align-items: center;
  
}

.cardImg{
  height: 40vh;
  width: 25vw;
  padding: 0.2vw;
  border-radius: 0.5vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.koteret {
  font-family: 'Dancing Script', cursive;
  font-size: 2vw;
  font-weight: bold;
  color: #333;
}

.kituv {
  font-family: 'Lato', sans-serif;
  font-size: 1.5vw;
  color: #666;
  line-height: 1.5;
      padding: 0.2vw;
text-align: center;
}

 
@media (max-width: 860px) {
  .bigDiv{
display: grid;
    grid-template-columns:1fr ;
  }
.Card{    width: 70vw;
  height: 40vh;}
  .cardImg{
    height: 20vh;
    width: 60vw;
  }
  .koteret{
    font-size: 5vw;
  }
  .kituv{
    font-size: 3vw;
  }
}

.start-plan-link::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.start-plan-link:hover::before {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    300deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 167, 251, 1) 24%,
    rgb(239, 116, 233) 55%,
    rgba(255, 178, 251, 1) 79%,
    rgba(255, 197, 252, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.start-plan-link::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(0, 0%, 100%);
  z-index: -1;
  transition: transform .3s ease;
  border-radius: 5vw;
}

.start-plan-link {
   font-family: cursive;
  position: relative;
  font-size: 2vw;
  border-radius: 5vw;

  border: solid #D988B9;
  animation: fadeInUp 0.5s ease-in-out forwards;

}
.start-plan-link .start-link{
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 860px) {
  .start-plan-link {
    top: 3vh;
    height: 4vh;
    font-size: 2vh;}
    .start-plan-link .start-link {

    color: #d988b9d6;
  }}






