.contact-us-container {
    display: flex;
    justify-content: space-between;
    max-width: 120vw;
    margin: 0 auto;

  }
  .contact-us-form{
      padding: 2vw;
    border: 0.1vw solid black;
  }
  .contact-left img {
    max-width: 100%;
    height: auto;
  }
  .contact-right {
    flex: 1;
    padding: 20px;
  }
  
.contact-us-container img {
    height: 60vh;
margin: 2vw;}
.contact-us {
    max-width: 40vw;
    margin: auto;
    padding: 2vw;
    border: 0.1vw solid #ccc;
  }
  
  .contact-us h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-right: 2vw;
    margin-bottom: 1.5vh;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5vh;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 1vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.5vw;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 1vw;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
