.contact-us-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 120vw;
  margin-bottom: 100px;
  font-family: "Courgette", cursive;
  color: #451952;
  text-align: center;
}

.contact-us-form {
  padding: 2vw;
  border-radius: 0.8vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
  animation: fadeInUp 0.5s ease-in-out forwards;
}

.contact-left img {
  max-width: 100%;
  height: auto;
  border-radius: 0.8vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
  animation: fadeInDown 0.5s ease-in-out forwards;
}

.contact-right {
  width: 30vw;
  height: 60vh;

  padding: 2rem;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333; /* Label text color */
}

.input-field {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc; 
  border-radius: 5px;
  font-size: 1rem;
}

textarea.input-field {
  resize: vertical; 
}

.submit-button {
  background-color: #007bff;
  color: #fff; 
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3; 
}

@media (max-width: 768px) {
  .contact-us-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .contact-left,
  .contact-right {
    flex: 1;
    width: 90%;
  }

  .contact-right {
    margin-top: 2rem;
  }
}
