@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  font-family: "Courgette", cursive;
    color: #451952;
    animation: fadeInDown 0.5s ease-in-out forwards;

}

.form-label {
  margin-bottom: 10px;
}

.form-input input[type="range"] {
  width: 100%;
}

.budget-value {
  margin-top: 10px;
}

.submit-button {
  margin-top: 10px;
}
.form-title {
  text-align: center;
  font-family: "Courgette", cursive;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #451952;
  opacity: 0; /* Start with the element hidden */
  transform: translateY(-20px); /* Move the element up */
  animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
